.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dashboard-btn {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

@media(max-width: 500px) {
    .dashboard__header h1 {
        font-size: 1.5rem;
    }

    .dashboard__header button {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
}